@mycompany:registry=https://jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/
@abhishekbhaskar:registry=https://jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/
//jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/:_authToken=${JFROG_ARTIFACTORY_TOKEN}
